{% extends 'fscohort/base.html' %}

{% block title %}
home page
{% endblock title %}

{% block content %}
<h1>Hello, this is home page.</h1>
<a href={% url 'add' %}><button>Add Student</button></a>
<a href={% url 'list' %}><button>Student List</button></a>

{% endblock %}
    <!-- <form action="http://www.google.com/search", method="GET">
        <input type="text", name="q", placeholder="Title">
        <input type="submit", value="Search">
    </form> -->

    <!-- <form action=".", method="GET">
        {{ from }}
    </form> -->
    <!-- <h1>Hello, this is a home page</h1>
    {{ title }} <br>
    {{ dict_1 }} <br>
    {% for i in my_list %}
        {% if i == 3 %}
            <p>Bu sayı 3'e eşittir</p>
        {% else %}
            {{ i }} <br>
    {% endif %} {% endfor %} 
    {{ cat }} -->